@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    margin-top: 20vh;
}

.calculadora {
    max-width: 230px;
    margin: 0 auto;
    background-color: rgb(31, 31, 31);
    -webkit-box-shadow: 10px 10px 9px -9px rgba(0,0,0,0.49);
    -moz-box-shadow: 10px 10px 9px -9px rgba(0,0,0,0.49);
    box-shadow: 10px 10px 9px -9px rgba(0,0,0,0.49);
    border-radius: 5px;
    padding: 6px;
    display: table;
}

th, td {
    background-color: rgb(236, 236, 236);
    min-width: 3.32em;
    padding: 1em;
    text-align: center;
    border-radius: 5px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

th:hover, td:hover {
    background-color: rgb(194, 23, 23);
    color: white;
    cursor: pointer;
}

.display {
    background-color: rgb(194, 23, 23);
    color: rgb(255, 255, 255);
    text-align: right;
    height: 50px;
    max-width: 224px;
    margin-bottom: 3px;
    font-size: 3em;
    font-family: "Darker Grotesque", sans-serif;
    padding: 0px 2px 8px 2px;
    border: none;
    border-radius: 5px;
}

.display::placeholder {
    color: rgb(255, 255, 255);
    opacity: 0.4;
}

.destaque {
    background-color: rgb(194, 23, 23);
    color: white;
}

.destaque:hover {
    background-color: rgb(231, 36, 36);
}